<!DOCTYPE html>
<html>
	<head>
		<title>
			OurBooks-HomePage
		</title>
		<!--<link rel="stylesheet" href="/css/" />-->
	</head>
	<body>
		<header>
			    <!-- Se l'utente è autenticato -->
			    <div th:if="${userDetails}">							<!-- dal controller sto passando questa variabile offerta da Spring Security che ci fornisce i dati dell'utente autenticato oppure null se non si è auteticato' -->
			        <span th:text="${userDetails.username}"></span>		<!-- stampiamo lo username dell'utente autenticato' -->
			        <a href="/logout">Logout</a>						<!-- diamo all'utente autenticato la possibilità di uscire dal sistema' -->
			    </div>

			    <!-- Se l'utente NON è autenticato -->
			    <div th:if="${userDetails == null}">					<!-- Se l'utente non è autenticat questo oggetto è null come detto sopra' -->
			        <a href="/login">Login</a>							<!-- visto che non è autenticato offriamo la possibilità di loggarsi -->
			        <a href="/register">Register</a>					<!-- o registrarsi -->
			    </div>
		</header>
		<h1>OurBooks</h1>
		<div>
			<p>you are Administrator</p>
		</div>
		<h1>Admin Operations:</h1>
			<div>
				<a href="/books">browse and edit our book's databse</a>
			</div>
			<div>
				<a href="/formNewAdmin">add a new admin to OurBooks</a>
			</div>
	</body>
	
</html>